
html, 
body { 
  margin: 0; 
  padding: 0; 
}

body {
  font-family: sans-serif;
  color: black;
  background: white;
}

.boardTable {
  border-style: double; 
  border-color: black;
  border-width: 3px;
}

.pieceImage {
  width: 40;
  height: 40;
}

.whiteSquare,
.blackSquare,
.highlightWhiteSquare,
.highlightBlackSquare {
  width: 43;
  height: 43;
  border-style: solid;
  border-width: 1;
}

.whiteSquare,
.highlightWhiteSquare {
  border-color: #EFF4EC;
  background: #EFF4EC;
}

.blackSquare,
.highlightBlackSquare {
  border-color: #C6CEC3;
  background: #C6CEC3;
}

.highlightWhiteSquare,
.highlightBlackSquare {
  border-style: inset;
  border-color: gray;
}

.selectControl {
/* a "width" attribute here must use the !important flag to override default settings */
}

.buttonControl {
/* a "width" attribute here must use the !important flag to override default settings */
}

.buttonControlSpace {
/* a "width" attribute here must use the !important flag to override default settings */
}

.move,
.moveOn {
  color: black;
  font-weight: normal;
  text-decoration: none;   
}

.moveOn {
  background: #DAF4D7;
}

.comment,
.nag
{
  color: gray;
}

.nag {
  font-style: italic;
}

